.nav_bar {
  background: #006039;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.middle {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.middle a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 6px 12px;
  transition: all 0.3s ease;
}

.middle a:hover {
  color: #006039;
  background: #a37e2c;
  border-color: #a37e2c;
}

.Title {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  padding: 6px 12px;
  transition: all 0.3s ease;
  font-size: 50px;
}

.Title:hover {
  background: #ffffff;
  color: #006039;
  border-color: #006039;
}